@charset 'utf-8';
@font-face {
  font-family: 'Gotham';
  src: url("../font/Gotham-Black.ttf");
 
  font-weight:900;
  font-style: normal;
}

html{padding:3rem;
}
body{
    overflow-x: hidden;
    color: white;
   font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    background: black;
}
a {

text-decoration: none;
}

.container{
    overflow-x: hidden;
}


.content h1{
  font-family: 'Gotham';
    font-size:130px;
    font-weight: bold;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -990;
  opacity: 80%;
}

/* Add some content at the bottom of the video/page */
.content {
  font-family: 'Anton', sans-serif;
  position: fixed;
  bottom: 0;
  color: white;
  width: 100%;
  letter-spacing: 1.1px;
  line-height: 1.6;
 
}


.output {
	display:none;
	}
	.active:after {
	  content: '_';
  }
  

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
footer{
    position: fixed;
    bottom: 2px;
}